<html lang="uk">
<div class="wrapper">
    <section class="b1">
        <div class="background-image"></div>
        <div class="b1_inner">
            <div class="b1_title">
                "Дізнайся більше про навчальні напрями та освітні можливості в інститутах&факультетах!"
            </div>
            <div class="line"></div>

            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px" class="search-container">

                <div class="filter-container">
                    <p-multiSelect (onChange)="onSelectChange($event)" [options]="instituteList" optionLabel="name"
                                   placeholder="ІНСТИТУТИ & ФАКУЛЬТЕТИ"></p-multiSelect>
                </div>

                <div class="search-bar" (click)="toggleDropdown($event)">
                    <button class="search-button" (click)="onSearch()">Знайти</button>
                    <img src="http://localhost:3000/api/image/getFolderFile/subdivision-page-img/icons1.png" alt="Search Image">
                    <div class="search-input-container">
                        <input
                            type="text"
                            [(ngModel)]="searchInput"
                            (blur)="onSearchBlur()"
                            (keyup.enter)="onSearch()">
                        <ul class="dropdown-list" *ngIf="showSearchHistory">
                            <li *ngFor="let historyItem of searchHistory.slice(0, 5)"
                                (click)="onHistoryItemClick(historyItem)">
                                {{ historyItem }}
                                <button *ngIf="searchHistory.length > 0" class="delete-button"
                                        (click)="deleteHistoryItem($event, historyItem)">×
                                </button>
                            </li>
                            <button *ngIf="searchHistory.length > 0" class="clear-history-button"
                                    (click)="clearSearchHistory($event)">Очистити історію
                            </button>
                        </ul>
                    </div>

                </div>

                <div *ngIf="filterDepartmentList.length" class="departments">
                    <p-multiSelect [options]="filterDepartmentList" [group]="true" [(ngModel)]="selectedDepartments"
                                   placeholder="КАФЕДРИ" scrollHeight="250px" display="chip">
                        <ng-template let-group pTemplate="group">
                            <div class="flex align-items-center">
                                <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                                     [class]="'mr-2 flag flag-' + group.value" style="width: 20px" alt="cathedra"/>
                                <span>{{ group.label }}</span>
                            </div>
                        </ng-template>
                    </p-multiSelect>
                </div>

            </div>
        </div>
    </section>
</div>
<section class="search-result" *ngIf="showSearchResult">
    <div class="search-result_inner">
        <div class="total-records">Загальна кількість результатів: {{ totalResults }}</div>
        <div class="line-search"></div>
        <div class="box_container">
            <div *ngFor="let result of resultList.slice(first, first + rows)" class="search-result-item">
                <div class="result-container">
                    <div class="result-content">
                        <h3 class="result-title">{{ result.title }}</h3>
                        <p class="result-snippet">{{ result.snippet }}</p>
                        <img  class="result-photo2" src="../../../assets/img/subdivision-page-img/icons4.png" alt="{{ result.title }}">

                        <button pButton type="button" label="Тиць" (click)="redirectToUrl(result.url)" class="result-button">Тиць</button>
                    </div>
                </div>
            </div>
        </div>
        <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="totalResults" [rowsPerPageOptions]="[10, 25, 50]"></p-paginator>

    </div>
</section>
