.wrapper
    margin: 0
    background-image: url(../../../assets/img/subdivision-page-img/img1.png)
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    min-width: 1440px  /* Set the minimum width to 1440px */
    min-height: 1226px /* Set the minimum height to 1226px */
    display: flex
    justify-content: center
    align-items: center
    
.delete-button
    background: none
    border: none
    color: red
    cursor: pointer
    font-size: 14px
    margin-left: 5px

.b1_inner
    padding-top: 60px
    padding-bottom: 400px
    text-align: center
    position: relative

.b1_title
    display: block
    margin-bottom: 20px
    font-family: "Montserrat", serif
    font-size: 58px
    line-height: normal
    font-weight: 500
    color: #ffffff

.b1_text
    font-size: 36px
    color: rgba(255, 255, 255, 1)
    font-family: "Montserrat", serif

.line
    width: 387px
    border: 2px solid rgba(255, 255, 255, 1)
    margin: 0 auto

.search-bar
    width: 517px
    height: 58px
    padding: 4px 16px
    border-radius: 11px
    background-color: rgba(255, 255, 255, 0.47)
    display: flex
    align-items: center
    justify-content: center
    position: relative

.search-bar img
    width: 40px
    height: auto
    margin-right: 10px

.search-bar input
    flex: 1
    border: none
    outline: none
    font-size: 36px
    font-weight: 600
    line-height: 44px
    letter-spacing: 0
    color: rgba(0, 0, 0, 1)
    background-color: transparent

.search-button
    width: 206px
    height: 79px
    top: 600px
    left: 157px
    padding: 33px
    border-radius: 5px
    background: rgba(0, 0, 0, 0.35)
    border: none
    color: #fff
    font-family: "Montserrat", serif
    font-weight: 400
    line-height: 0
    font-size: 40px
    cursor: pointer
    position: absolute
    transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease
    &:hover
        background: rgba(0, 0, 0, 0.5)
        transform: scale(1.1)

.faculty-list
    max-height: 300px /* Adjust the maximum height as needed */
    overflow-y: auto

.faculty-list button
    width: 325px
    height: 84px
    margin-bottom: 10px
    padding: 5px
    border: none
    background: transparent
    color: #fff
    font-size: 16px
    cursor: pointer
    display: flex
    justify-content: space-between
    align-items: center
    position: relative

.faculty-list button::before
    content: ""
    width: 55.5px
    height: 5px
    background-color: rgba(255, 255, 255, 1)
    position: absolute
    top: 80px
    left: 316.5px
    transform: rotate(90deg)

.faculty-list button .right-side
    font-size: 14px
    font-weight: 500
    line-height: 17px
    letter-spacing: 0
    text-align: center

.faculty-list button .left-side
    font-size: 24px
    font-weight: 500
    line-height: 29px
    letter-spacing: 0
    text-align: center

.department-filter-container
    width: 330px
    height: 58px
    top: 210px
    left: 820px
    border-radius: 11px
    background: rgba(255, 255, 255, 1)
    position: absolute

.department-list-container
    width: 330px
    height: 339px
    top: 212px
    left: 996px
    border-radius: 11px
    background: rgba(255, 255, 255, 0.47)
    position: absolute

.department-list
    max-height: 300px
    overflow-y: auto

.department-list button
    width: 330px
    height: 58px
    margin-bottom: 10px
    padding: 5px
    border: none
    background: transparent
    color: #000
    font-size: 16px
    cursor: pointer
    display: flex
    justify-content: space-between
    align-items: center
    position: relative

.department-list button::before
    content: ""
    width: 55.5px
    height: 5px
    background-color: rgba(255, 255, 255, 1)
    position: absolute
    top: 29px /* Adjust the position as needed */
    left: 5px /* Adjust the position as needed */

.search-bar .dropdown-list
    position: absolute
    top: 100%
    left: 0
    width: 100%
    z-index: 1
    background-color: rgba(255, 255, 255, 0.47)
    border: 1px solid rgba(0, 0, 0, 0.7)
    border-radius: 11px
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
    list-style: none
    padding: 0
    margin: 0

.dropdown-list
    overflow: hidden

.search-bar .dropdown-list li
    padding: 10px
    cursor: pointer
    transition: background-color 0.3s ease

.search-bar .dropdown-list li:hover
    background-color: rgba(0, 0, 0, 0.1)

.clear-history-button
    margin: 10px
    left: 45%

.search-container
    padding: 3rem 2rem 0 8.3rem