<div class="wrapper">
    <section class="b1">
        <div class="background-image"></div>
        <div class="b1_inner">
            <div class="b1_title">
                "Дізнайся більше про навчальні напрями та освітні можливості в інститутах&факультетах!"
            </div>
            <div class="line"></div>

            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px" class="search-container">

                <div class="filter-container">
                    <p-multiSelect (onChange)="onSelectChange($event)" [options]="instituteList" optionLabel="name"
                                   placeholder="ІНСТИТУТИ & ФАКУЛЬТЕТИ"></p-multiSelect>
                </div>

                <div class="search-bar" (click)="toggleDropdown($event)">
                    <button class="search-button" (click)="onSearch()">Знайти</button>
                    <img src="../../../assets/img/subdivision-page-img/icons1.png" alt="Search Image">
                    <div class="search-input-container">
                        <input
                            type="text"
                            [(ngModel)]="searchInput"
                            (blur)="onSearchBlur()"
                            (keyup.enter)="onSearch()">
                        <ul class="dropdown-list" *ngIf="showSearchHistory">
                            <li *ngFor="let historyItem of searchHistory.slice(0, 5)"
                                (click)="onHistoryItemClick(historyItem)">
                                {{ historyItem }}
                                <button *ngIf="searchHistory.length > 0" class="delete-button"
                                        (click)="deleteHistoryItem($event, historyItem)">×
                                </button>
                            </li>
                            <button *ngIf="searchHistory.length > 0" class="clear-history-button"
                                    (click)="clearSearchHistory($event)">Очистити історію
                            </button>
                        </ul>
                    </div>

                </div>

                <div *ngIf="filterDepartmentList.length" class="departments">
                    <p-multiSelect [options]="filterDepartmentList" [group]="true" [(ngModel)]="selectedDepartments"
                                   placeholder="КАФЕДРИ" scrollHeight="250px" display="chip">
                        <ng-template let-group pTemplate="group">
                            <div class="flex align-items-center">
                                <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                                     [class]="'mr-2 flag flag-' + group.value" style="width: 20px" alt="cathedra"/>
                                <span>{{ group.label }}</span>
                            </div>
                        </ng-template>
                    </p-multiSelect>
                </div>

            </div>
        </div>
    </section>
</div>
<section class="search-result" *ngIf="showSearchResult">
    <div class="search-result_inner">
        <div class="search-result_title">
            Результати пошуку
        </div>
        <div class="line-search"></div>

        <!-- Виведення результатів пошуку з пагінацією -->
        <div *ngFor="let result of searchResults">
            {{ result }}
        </div>

        <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="totalRecords"
                     [rowsPerPageOptions]="[10, 25, 50]"></p-paginator>
    </div>
</section>
