<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>KPIHub</title>
    </head>
    <body>
        <main>
            <section class="b1">
                <div class="b1_inner">
                    <b class="b1_title">
                        "KPI Life: Відкрий світ можливостей разом зі<br />студентськими ініціативами!"
                    </b>
                    <div class="line"></div>
                </div>
            </section>
            <section class="b2">
                <div class="b2_inner">
                    <div class="b_title">
                        <p class="b_title1">АКТИВНОСТІ</p>
                    </div>
                    <div
                        *ngFor="
                            let activity of activities;
                            let i = index;
                            let last = last
                        " class="activity-item">
                        <ng-container *ngIf="i % 2 === 0; else oddTemplate">
                            <!-- Even iterations -->
                            <div class="activity-content" fxFlex="50">
                                <img class="activity-image" [src]="activity.imageSrc" alt="{{ activity.title }}"/>
                            </div>
                            <div class="activity-details" fxFlex="50">
                                <b class="activity-name">
                                    <img class="activity-icon" [src]="activity.iconImgSrc" alt="{{ activity.title }}"/>
                                    {{ activity.title }}
                                </b>
                                <p class="activity-description">
                                    {{ activity.description }}
                                </p>
                                <button class="activity-button">
                                    <div class="activity-button-text">
                                        <a [href]="activity.link">Детальніше</a>
                                    </div>
                                </button>
                            </div>
                        </ng-container>
                        <ng-template #oddTemplate>
                            <!-- Odd iterations -->
                            <div class="activity-details" fxFlex="50">
                                <b class="activity-name">
                                    <img class="activity-icon" [src]="activity.iconImgSrc" alt="{{ activity.title }}"/>
                                    {{ activity.title }}
                                </b>
                                <p class="activity-description">
                                    {{ activity.description }}
                                </p>
                                <button class="activity-button">
                                    <div class="activity-button-text">
                                        <a [href]="activity.link">Детальніше</a>
                                    </div>
                                </button>
                            </div>
                            <div class="activity-content" fxFlex="50">
                                <img class="activity-image" [src]="activity.imageSrc" alt="{{ activity.title }}"/>
                            </div>
                        </ng-template>
                        <!-- Add a line if it's not the last element -->
                        <div
                            class="horizontal-divider-line"
                            *ngIf="!last"
                        ></div>
                    </div>
                </div>
            </section>
            <section class="b3">
                <div class="b3_inner">
                    <div class="b_title">
                        <p class="b_title1">Гуртки. Олімпіади. Проєкти</p>
                    </div>
                    <img class="b3_img1" src="../../../assets/img/student-page-img/img6.jpg" alt="KPI"/>
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                        <div fxFlex="30">
                            <img class="b3_icon" src="../../../assets/img/student-page-img/icon5.jpg" alt="KPI"/>
                        </div>
                        <div fxFlex="70">
                            <p class="b3_text1">
                                Гуртки – це факультативи, де студенти займаються
                                тим, що їм подобається. Окремий бонус – студент
                                може долучитися до роботи гуртка, діяльність
                                якого відмінна від його основного процесу
                                навчання. Тобто, навчаючись на факультеті
                                електроніки, студент може взяти участь у гуртках
                                соціогуманітарного напрямку або навпаки –
                                студент-лінгвіст може вивчати ракето-космічну
                                інженерію.
                            </p>
                        </div>
                    </div>
                    <div class="workshops">
                        <div fxFlex="30">
                            <button class="b3_button1">
                                <div class="button2_text">
                                    <a href="https://telegra.ph/engineering-club-06-16">Engineering</a>
                                </div>
                            </button>
                        </div>
                        <div fxFlex="40">
                            <button class="b3_button2">
                                <div class="button2_text1">
                                    <a href="https://telegra.ph/sochum-club-06-16">Social and<br />humanitarian</a>
                                </div>
                            </button>
                        </div>
                        <div fxFlex="30">
                            <button class="b3_button3">
                                <div class="button2_text2">
                                    <a href="https://telegra.ph/science-club-06-16">Science</a>
                                </div>
                            </button>
                        </div>
                    </div>

                    <div class="horizontal-divider-line"></div>
                    <p class="b3_text2">
                        Також в КПІ ім. Ігоря Сікорського проходять І етапи
                        Всеукраїнських студентських олімпіад , переможці яких
                        беруть участь в ІІ етапах Всеукраїнських студентських
                        олімпіад.
                    </p>
                    <img class="b3_img2" src="../../../assets/img/student-page-img/img7.jpg" alt="KPI"/>
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                        <div fxFlex="30">
                            <img class="b3_icon" src="../../../assets/img/student-page-img/icon6.jpg" alt="KPI"/>
                        </div>
                        <div fxFlex="70">
                            <div fxLayout="row" fxLayoutAlign="space-between">
                                <div fxFlex="50">
                                    <p class="b3_text3">
                                        I етап студентських<br />олімпіад в КПІ
                                    </p>
                                    <button class="b3_button4">
                                        <div class="button1_text">
                                            <a href="https://telegra.ph/stud-olimp-12-14">Детальніше</a>
                                        </div>
                                    </button>
                                </div>
                                <div fxFlex="50">
                                    <p class="b3_text3">
                                        II етап Всеукраїнських студентських<br />олімпіад в КПІ
                                    </p>
                                    <button class="b3_button4">
                                        <div class="button1_text">
                                            <a href="https://telegra.ph/OL%D0%86MP%D0%86ADI-2-tur-shcho-provodyatsya-v-KP%D0%86-08-04"
                                                >Детальніше</a>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="horizontal-divider-line"></div>
                    <img class="b3_img3" src="../../../assets/img/student-page-img/img8.jpg" alt="KPI"/>
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                        <div fxFlex="30">
                            <img class="b3_icon" src="../../../assets/img/student-page-img/icon7.jpg" alt="KPI"/>
                        </div>
                        <div fxFlex="70">
                            <p class="b3_text4">
                                Крім олімпіад є ряд традиційних проєктів та
                                заходів, які проводять для студентів та за їх
                                активної участі, зокрема KPI-OPEN та День
                                першокурсника.<br /><br />KPI-OPEN
                                <button class="b3_button5">
                                    <div class="button2_text3">
                                        <a href="https://kpi.ua/vezha-open">Детальніше</a>
                                    </div>
                                </button>
                                <br /><br />День першокурсника
                                <button class="b3_button5">
                                    <div class="button2_text3">
                                        <a href="https://kpi.ua/vezha-open">Детальніше</a>
                                    </div>
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="b4">
                <div class="b4_inner">
                    <div class="b_title">
                        <p class="b_title1">Безкоштовні курси</p>
                    </div>
                    <img class="b4_icon" src="../../../assets/img/student-page-img/icon8.jpg" alt="KPI"/>
                    <div class="courses" fxLayoutGap="50px">
                        <p class="b4_text">
                                Після переговорів МОН та КПІ з представниками
                                Coursera, студенти та викладачі КПІ ім. Ігоря
                                Сікорського можуть безкоштовно зареєструватися
                                та отримати доступ до більш ніж 5200 курсів і
                                2200 керованих проектів від провідних
                                університетів і партнерів Coursera. Окрім
                                Coursera студенти також можуть користуватися
                                іншими платформами, а також відвідувати курси,
                                що належать саме КПІ (наприклад, курси іноземних
                                мов тощо).
                        </p>
                        <img class="b4_icon" src="../../../assets/img/student-page-img/icon9.png" alt="KPI"/>
                        <button class="b4_button">
                            <div class="button3_text">
                                <a href="https://kpi.ua/board-fdp">Детальніше</a>
                            </div>
                        </button>
                    </div>
                    <img class="b4_img" src="../../../assets/img/student-page-img/img9.jpg" alt="KPI"/>
                </div>
            </section>
            <section class="b5" fxLayout="column">
                <div class="b5_inner">
                    <div class="b_title">
                        <p class="b_title1">Усі важливі Telegram-канали КПІ</p>
                    </div>
                    <table>
                        <tr *ngFor="let channel of telegramChannels">
                            <td>
                                <div class="table_left" fxLayout="row">
                                    <div class="left_b5" fxFlex="30">
                                        <img class="b5_img" [src]="channel.imageSrc" alt="{{ channel.name }}" />
                                    </div>
                                    <div class="right_b5" fxFlex="70">
                                        {{channel.name}}
                                    </div>
                                </div>
                            </td>
                            <td>
                                <button class="b5_button">
                                    <div class="button5_text"><a [href]="channel.link">Перейти</a>
                                    </div>
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </section>
        </main>
    </body>
</html>
