html
    line-height: 1.15

a
    text-decoration: none
    color: black

.students_banner
    background-color: #816644
    background-image: url(../../../assets/img/student-page-img/img1.jpg)
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    padding-top: 400px
    padding-bottom: 460px
    text-align: center

.students_title
    display: block
    margin-bottom: 20px
    font-family: "Montserrat", serif
    font-size: 58px
    line-height: normal
    font-weight: 500
    color: white

.line
    width: 387px
    border: 1px solid white
    margin: auto

.block_title
    display: block
    background-color: #322922
    margin: 0
    text-align: center
    font-size: 36px
    color: white
    font-family: "Montserrat", serif
    padding-top: 44px
    padding-bottom: 34px

.activities_block
    background-color: #886F4F
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    text-align: center

.activity_item
    margin-top: 100px

.activity_name
    display: block
    font-family: "Montserrat", serif
    font-size: 28px
    line-height: normal
    font-weight: 500
    color: white
    text-align: center

.activity_image
    width: 75%
    max-height: 90%
    border-radius: 15px
    &:hover
        transform: scale(1.25)
        transition: transform 0.3s

.activity_icon
    width: 7%
    height: 7%
    border-radius: 100px
    margin-right: 30px
    vertical-align: middle

.activity_description
    font-size: 24px
    text-indent: 1.5em
    color: white
    text-align: justify
    margin: 32px 122px 60px

.activity_button
    color: #000000
    font-size: 24px
    text-align: center
    display: inline-block
    cursor: pointer
    background-color: #D9D9D9
    border: none
    border-radius: 100px
    font-family: "Montserrat", serif
    margin-bottom: 60px
    &:hover
        background: #d38364
        color: white
        transform: scale(1.1)

.activity_button_text
    margin: 17px 33px

.events_block
    background-color: #886F4F
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    text-align: center

.event_image
    max-width: 70%
    max-height: 70%
    border-radius: 15px
    margin-top: 60px
    margin-bottom: 60px
    &:hover
        transform: scale(1.15)
        transition: transform 0.3s

.event_icon
    height: 150px
    border-radius: 100px
    vertical-align: middle

.event_text1, .event_text2, .event_text3, .event_text4
    font-size: 24px
    color: white
    text-align: justify
    &.event_text1, &.event_text2, &.event_text4
        text-indent: 1.5em
        margin-right: 122px
    &.event_text2
        text-align: center
        margin: 50px 150px 35px
    &.event_text3
        text-align: center
        margin-bottom: 40px

.event_button_text1, .event_button_text2, .event_button_text3, .event_button_text4
    margin: 43px 50px
    &.event_button_text3
        margin: 43px 85px
    &.event_button_text4
        margin: 10px 20px

.event_button1, .event_button2, .event_button3, .event_button4, .event_button5
    color: #000000
    font-size: 24px
    display: inline-block
    cursor: pointer
    background-color: #D9D9D9
    border: none
    border-radius: 100px
    font-family: "Montserrat", serif
    &:hover
        background: #BF9E80
        transform: scale(1.1)
        transition: transform 0.3s
    &.event_button4
        width: 200px
        height: 50px
    &.event_button5
        font-size: 20px
        margin-left: 60px
        margin-bottom: 50px

.workshops
    margin-top: 50px

.courses_block
    background-color: #886F4F
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    text-align: center

.course_icon
    height: 150px
    border-radius: 100px
    text-align: center
    margin-top: 55px

.courses
    display: flex

.course_text
    font-size: 24px
    text-indent: 1.5em
    color: white
    text-align: justify
    margin-left: 123px

.course_button
    margin-top: 50px
    height: 130px
    width: 3000px
    color: black
    font-size: 36px
    text-align: center
    display: inline-block
    cursor: pointer
    background-color: #D9D9D9
    border: none
    border-radius: 100px
    font-family: "Montserrat", serif
    margin-right: 123px
    &:hover
        background: #BF9E80
        transform: scale(1.1)

.course_image
    max-width: 70%
    max-height: 70%
    border-radius: 15px
    margin-top: 60px
    margin-bottom: 60px
    &:hover
        transform: scale(1.2)
        transition: transform 0.3s

.telegram_block
    background-color: #886F4F
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    text-align: center

.telegram_image
    height: 100px
    border-radius: 100px
    vertical-align: middle

.telegram_button
    color: black
    font-size: 20px
    text-align: center
    display: inline-block
    cursor: pointer
    background-color: #D9D9D9
    border: none
    border-radius: 100px
    font-family: "Montserrat", serif
    margin-left: 50px
    margin-right: 50px
    &:hover
        background: #BF9E80
        transform: scale(1.1)

.telegram_text
    margin: 10px 20px

.left_block_telegram
    margin-top: 40px

table
    margin-top: 40px !important
    margin-bottom: 40px !important

th, td
    padding: 10px

table, th, td
    font-size: 22px
    border: 1px solid white
    text-align: center
    margin: 0 auto
    color: white

.content
    height: 57px
    background-color: #322922bc
    display: flex
    top: 460px
    position: relative
    

.text
    font-size: 32px
    text-align: center
    color: white
    margin-right: 81px
    margin-left: 123px
    &:hover
        color: #886F4F
    

li
  list-style-type: none
  margin-top: 10px
    