<div>
    <div class="first">
        <div class="box">
            <span style="--i:1;"> <img src="../../../assets/img/contacts-page-img/5.jpg" alt=""></span>
            <span style="--i:2;"> <img src="../../../assets/img/entrant-page-img/img1.png" alt=""></span>
            <span style="--i:3;"> <img src="../../../assets/img/entrant-page-img/img1.png" alt=""></span>
            <span style="--i:4;"> <img src="../../../assets/img/contacts-page-img/5.jpg" alt=""></span>
            <span style="--i:5;"> <img src="../../../assets/img/contacts-page-img/5.jpg" alt=""></span>
        </div>
    </div>
    <p class="text">НН ІАТЕ</p>
    <div class="first">
        <div class="box">
            <span style="--i:1;"> <img src="../../../assets/img/contacts-page-img/5.jpg" alt=""></span>
            <span style="--i:2;"> <img src="../../../assets/img/entrant-page-img/img1.png" alt=""></span>
            <span style="--i:3;"> <img src="../../../assets/img/entrant-page-img/img1.png" alt=""></span>
            <span style="--i:4;"> <img src="../../../assets/img/contacts-page-img/5.jpg" alt=""></span>
            <span style="--i:5;"> <img src="../../../assets/img/contacts-page-img/5.jpg" alt=""></span>
        </div>
    </div>
    <p class="text">НН ІАТЕ</p>
    <div class="first">
        <div class="box">
            <span style="--i:1;"> <img src="../../../assets/img/contacts-page-img/5.jpg" alt=""></span>
            <span style="--i:2;"> <img src="../../../assets/img/entrant-page-img/img1.png" alt=""></span>
            <span style="--i:3;"> <img src="../../../assets/img/entrant-page-img/img1.png" alt=""></span>
            <span style="--i:4;"> <img src="../../../assets/img/contacts-page-img/5.jpg" alt=""></span>
            <span style="--i:5;"> <img src="../../../assets/img/contacts-page-img/5.jpg" alt=""></span>
        </div>
    </div>
    <p class="text">НН ІАТЕ</p>
    <div class="first">
        <div class="box">
            <span style="--i:1;"> <img src="../../../assets/img/contacts-page-img/5.jpg" alt=""></span>
            <span style="--i:2;"> <img src="../../../assets/img/entrant-page-img/img1.png" alt=""></span>
            <span style="--i:3;"> <img src="../../../assets/img/entrant-page-img/img1.png" alt=""></span>
            <span style="--i:4;"> <img src="../../../assets/img/contacts-page-img/5.jpg" alt=""></span>
            <span style="--i:5;"> <img src="../../../assets/img/contacts-page-img/5.jpg" alt=""></span>
        </div>
    </div>
    <p class="text">НН ІАТЕ</p>
    <div class="first">
        <div class="box">
            <span style="--i:1;"> <img src="../../../assets/img/contacts-page-img/5.jpg" alt=""></span>
            <span style="--i:2;"> <img src="../../../assets/img/entrant-page-img/img1.png" alt=""></span>
            <span style="--i:3;"> <img src="../../../assets/img/entrant-page-img/img1.png" alt=""></span>
            <span style="--i:4;"> <img src="../../../assets/img/contacts-page-img/5.jpg" alt=""></span>
            <span style="--i:5;"> <img src="../../../assets/img/contacts-page-img/5.jpg" alt=""></span>
        </div>
    </div>
    <p class="text">НН ІАТЕ</p>
    <div class="first">
        <div class="box">
            <span style="--i:1;"> <img src="../../../assets/img/contacts-page-img/5.jpg" alt=""></span>
            <span style="--i:2;"> <img src="../../../assets/img/entrant-page-img/img1.png" alt=""></span>
            <span style="--i:3;"> <img src="../../../assets/img/entrant-page-img/img1.png" alt=""></span>
            <span style="--i:4;"> <img src="../../../assets/img/contacts-page-img/5.jpg" alt=""></span>
            <span style="--i:5;"> <img src="../../../assets/img/contacts-page-img/5.jpg" alt=""></span>
        </div>
    </div>
    <p class="text">НН ІАТЕ</p>
    <div class="first">
        <div class="box">
            <span style="--i:1;"> <img src="../../../assets/img/contacts-page-img/5.jpg" alt=""></span>
            <span style="--i:2;"> <img src="../../../assets/img/entrant-page-img/img1.png" alt=""></span>
            <span style="--i:3;"> <img src="../../../assets/img/entrant-page-img/img1.png" alt=""></span>
            <span style="--i:4;"> <img src="../../../assets/img/contacts-page-img/5.jpg" alt=""></span>
            <span style="--i:5;"> <img src="../../../assets/img/contacts-page-img/5.jpg" alt=""></span>
        </div>
    </div>
    <p class="text">НН ІАТЕ</p>
    <div class="first">
        <div class="box">
            <span style="--i:1;"> <img src="../../../assets/img/contacts-page-img/5.jpg" alt=""></span>
            <span style="--i:2;"> <img src="../../../assets/img/entrant-page-img/img1.png" alt=""></span>
            <span style="--i:3;"> <img src="../../../assets/img/entrant-page-img/img1.png" alt=""></span>
            <span style="--i:4;"> <img src="../../../assets/img/contacts-page-img/5.jpg" alt=""></span>
            <span style="--i:5;"> <img src="../../../assets/img/contacts-page-img/5.jpg" alt=""></span>
        </div>
    </div>
    <p class="text">НН ІАТЕ</p>
    <div class="first">
        <div class="box">
            <span style="--i:1;"> <img src="../../../assets/img/contacts-page-img/5.jpg" alt=""></span>
            <span style="--i:2;"> <img src="../../../assets/img/entrant-page-img/img1.png" alt=""></span>
            <span style="--i:3;"> <img src="../../../assets/img/entrant-page-img/img1.png" alt=""></span>
            <span style="--i:4;"> <img src="../../../assets/img/contacts-page-img/5.jpg" alt=""></span>
            <span style="--i:5;"> <img src="../../../assets/img/contacts-page-img/5.jpg" alt=""></span>
        </div>
    </div>
    <p class="text">НН ІАТЕ</p>
    <div class="first">
        <div class="box">
            <span style="--i:1;"> <img src="../../../assets/img/contacts-page-img/5.jpg" alt=""></span>
            <span style="--i:2;"> <img src="../../../assets/img/entrant-page-img/img1.png" alt=""></span>
            <span style="--i:3;"> <img src="../../../assets/img/entrant-page-img/img1.png" alt=""></span>
            <span style="--i:4;"> <img src="../../../assets/img/contacts-page-img/5.jpg" alt=""></span>
            <span style="--i:5;"> <img src="../../../assets/img/contacts-page-img/5.jpg" alt=""></span>
        </div>
    </div>
    <p class="text">НН ІАТЕ</p>
    <div class="first">
        <div class="box">
            <span style="--i:1;"> <img src="../../../assets/img/contacts-page-img/5.jpg" alt=""></span>
            <span style="--i:2;"> <img src="../../../assets/img/entrant-page-img/img1.png" alt=""></span>
            <span style="--i:3;"> <img src="../../../assets/img/entrant-page-img/img1.png" alt=""></span>
            <span style="--i:4;"> <img src="../../../assets/img/contacts-page-img/5.jpg" alt=""></span>
            <span style="--i:5;"> <img src="../../../assets/img/contacts-page-img/5.jpg" alt=""></span>
        </div>
    </div>
    <p class="text">НН ІАТЕ</p>
    <div class="first">
        <div class="box">
            <span style="--i:1;"> <img src="../../../assets/img/contacts-page-img/5.jpg" alt=""></span>
            <span style="--i:2;"> <img src="../../../assets/img/entrant-page-img/img1.png" alt=""></span>
            <span style="--i:3;"> <img src="../../../assets/img/entrant-page-img/img1.png" alt=""></span>
            <span style="--i:4;"> <img src="../../../assets/img/contacts-page-img/5.jpg" alt=""></span>
            <span style="--i:5;"> <img src="../../../assets/img/contacts-page-img/5.jpg" alt=""></span>
        </div>
    </div>
    <p class="text">НН ІАТЕ</p>
    <div class="first">
        <div class="box">
            <span style="--i:1;"> <img src="../../../assets/img/contacts-page-img/5.jpg" alt=""></span>
            <span style="--i:2;"> <img src="../../../assets/img/entrant-page-img/img1.png" alt=""></span>
            <span style="--i:3;"> <img src="../../../assets/img/entrant-page-img/img1.png" alt=""></span>
            <span style="--i:4;"> <img src="../../../assets/img/contacts-page-img/5.jpg" alt=""></span>
            <span style="--i:5;"> <img src="../../../assets/img/contacts-page-img/5.jpg" alt=""></span>
        </div>
    </div>
    <p class="text">НН ІАТЕ</p>
    <div class="first">
        <div class="box">
            <span style="--i:1;"> <img src="../../../assets/img/contacts-page-img/5.jpg" alt=""></span>
            <span style="--i:2;"> <img src="../../../assets/img/entrant-page-img/img1.png" alt=""></span>
            <span style="--i:3;"> <img src="../../../assets/img/entrant-page-img/img1.png" alt=""></span>
            <span style="--i:4;"> <img src="../../../assets/img/contacts-page-img/5.jpg" alt=""></span>
            <span style="--i:5;"> <img src="../../../assets/img/contacts-page-img/5.jpg" alt=""></span>
        </div>
    </div>
    <p class="text">НН ІАТЕ</p>
    <div class="first">
        <div class="box">
            <span style="--i:1;"> <img src="../../../assets/img/contacts-page-img/5.jpg" alt=""></span>
            <span style="--i:2;"> <img src="../../../assets/img/entrant-page-img/img1.png" alt=""></span>
            <span style="--i:3;"> <img src="../../../assets/img/entrant-page-img/img1.png" alt=""></span>
            <span style="--i:4;"> <img src="../../../assets/img/contacts-page-img/5.jpg" alt=""></span>
            <span style="--i:5;"> <img src="../../../assets/img/contacts-page-img/5.jpg" alt=""></span>
        </div>
    </div>
    <p class="text">НН ІАТЕ</p>
    <div class="first">
        <div class="box">
            <span style="--i:1;"> <img src="../../../assets/img/contacts-page-img/5.jpg" alt=""></span>
            <span style="--i:2;"> <img src="../../../assets/img/entrant-page-img/img1.png" alt=""></span>
            <span style="--i:3;"> <img src="../../../assets/img/entrant-page-img/img1.png" alt=""></span>
            <span style="--i:4;"> <img src="../../../assets/img/contacts-page-img/5.jpg" alt=""></span>
            <span style="--i:5;"> <img src="../../../assets/img/contacts-page-img/5.jpg" alt=""></span>
        </div>
    </div>
    <p class="text">НН ІАТЕ</p>
    <div class="first">
        <div class="box">
            <span style="--i:1;"> <img src="../../../assets/img/contacts-page-img/5.jpg" alt=""></span>
            <span style="--i:2;"> <img src="../../../assets/img/entrant-page-img/img1.png" alt=""></span>
            <span style="--i:3;"> <img src="../../../assets/img/entrant-page-img/img1.png" alt=""></span>
            <span style="--i:4;"> <img src="../../../assets/img/contacts-page-img/5.jpg" alt=""></span>
            <span style="--i:5;"> <img src="../../../assets/img/contacts-page-img/5.jpg" alt=""></span>
        </div>
    </div>
    <p class="text">НН ІАТЕ</p>
    <div class="first">
        <div class="box">
            <span style="--i:1;"> <img src="../../../assets/img/contacts-page-img/5.jpg" alt=""></span>
            <span style="--i:2;"> <img src="../../../assets/img/entrant-page-img/img1.png" alt=""></span>
            <span style="--i:3;"> <img src="../../../assets/img/entrant-page-img/img1.png" alt=""></span>
            <span style="--i:4;"> <img src="../../../assets/img/contacts-page-img/5.jpg" alt=""></span>
            <span style="--i:5;"> <img src="../../../assets/img/contacts-page-img/5.jpg" alt=""></span>
        </div>
    </div>
    <p class="text">НН ІАТЕ</p>
    <div class="first">
        <div class="box">
            <span style="--i:1;"> <img src="../../../assets/img/contacts-page-img/5.jpg" alt=""></span>
            <span style="--i:2;"> <img src="../../../assets/img/entrant-page-img/img1.png" alt=""></span>
            <span style="--i:3;"> <img src="../../../assets/img/entrant-page-img/img1.png" alt=""></span>
            <span style="--i:4;"> <img src="../../../assets/img/contacts-page-img/5.jpg" alt=""></span>
            <span style="--i:5;"> <img src="../../../assets/img/contacts-page-img/5.jpg" alt=""></span>
        </div>
    </div>
    <p class="text">НН ІАТЕ</p>
    <div class="first">
        <div class="box">
            <span style="--i:1;"> <img src="../../../assets/img/contacts-page-img/5.jpg" alt=""></span>
            <span style="--i:2;"> <img src="../../../assets/img/entrant-page-img/img1.png" alt=""></span>
            <span style="--i:3;"> <img src="../../../assets/img/entrant-page-img/img1.png" alt=""></span>
            <span style="--i:4;"> <img src="../../../assets/img/contacts-page-img/5.jpg" alt=""></span>
            <span style="--i:5;"> <img src="../../../assets/img/contacts-page-img/5.jpg" alt=""></span>
        </div>
    </div>
    <p class="text">НН ІАТЕ</p>
    <div class="first">
        <div class="box">
            <span style="--i:1;"> <img src="../../../assets/img/contacts-page-img/5.jpg" alt=""></span>
            <span style="--i:2;"> <img src="../../../assets/img/entrant-page-img/img1.png" alt=""></span>
            <span style="--i:3;"> <img src="../../../assets/img/entrant-page-img/img1.png" alt=""></span>
            <span style="--i:4;"> <img src="../../../assets/img/contacts-page-img/5.jpg" alt=""></span>
            <span style="--i:5;"> <img src="../../../assets/img/contacts-page-img/5.jpg" alt=""></span>
        </div>
    </div>
</div>
