<div class="wrapper">
    <section class="entrants_banner">
        <b class="entrants_banner_title">"Головні питання вступника: Все, що вам потрібно знати перед вступом"</b>
        <div class="line"></div>
    </section>
    <section class="faq_block">
        <div class="card" fxLayoutAlign="center">
            <p-progressSpinner *ngIf="isEntrantFAQLoading" styleClass="w-4rem h-4rem" strokeWidth="8"
                               fill="var(--surface-ground)"
                               animationDuration=".5s"></p-progressSpinner>
        </div>
        <section class="services" id="services">
            <div class="box_container">
                <div *ngFor="let faqItem of faqItems" class="box faq_button" (click)="expandBox(faqItem.id)">
                    <img [src]="'../../../assets/img/entrant-page-img/' + faqItem.iconSrc" style="float: left"
                         alt="" [style.display]="!isBoxExpanded(faqItem.id) ? 'block' : 'none'">
                    <h3 [style.display]="!isBoxExpanded(faqItem.id) ? 'block' : 'none'">{{ faqItem.question }}</h3>
                    <div [class]="'text_content' + faqItem.id"
                         [style.display]="isBoxExpanded(faqItem.id) ? 'block' : 'none'">
                        {{ faqItem.answer }}
                        <br><br>Посилання: <a class="href" [href]="faqItem.link" target="_blank">{{ faqItem.link }}</a>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <section class="telegram_block">
        <div class="telegram_block_title"><p>Корисні Telegram-канали для вступників</p></div>
        <div class="card">
            <p-progressSpinner *ngIf="isEntrantTgChannelsLoading" styleClass="w-4rem h-4rem" strokeWidth="8"
                               fill="var(--surface-ground)"
                               animationDuration=".5s"></p-progressSpinner>
        </div>
        <table>
            <tr *ngFor="let item of tableItems">
                <td [width]="600">
                    <div>
                        <div fxFlex="30">
                            <img class="telegram_image" [src]="'../../../assets/img/entrant-page-img/' + item.imgSrc"
                                 alt="KPI">
                        </div>
                        <div class="left_block_telegram" fxFlex="70">{{ item.name }}</div>
                    </div>
                </td>
                <td>
                    <button class="telegram_button">
                        <div class="telegram_text"><a [href]="item.link" target="_blank">Перейти</a></div>
                    </button>
                </td>
            </tr>
        </table>
    </section>
</div>
