body
  margin: 0 auto
  padding: 0
  height: 2885px
  width: 1440px
  display: flex
  flex-direction: column
  align-items: center

.Phone
  width: 1440px
  height: 1024px
  background-image: url("../../../assets/img/main-page-img/img1.png")
  background-size: cover
.info
  width: 100%
  height: 665px
  background-color: #816644
  display: flex
  align-items: center

.note
  width: 1440px
  height: 934px
  background-image: url("../../../assets/img/main-page-img/img3.png")
  background-size: cover
  padding-bottom: 40px

.cont
  width: 1440px
  height: 262px
  background-color: black

.container1
  display: flex
  align-items: center
  text-align: center
  position: absolute
  width: 1237px
  height: 242px
  top: 401px

.container1 .text1
  position: absolute
  width: 994px
  height: 150px
  left: 220px
  top: 20px
  font-style: normal
  font-weight: 600
  font-size: 58px
  line-height: 70px
  color: #FFFFFF

.container1 .text2
  position: absolute
  width: 1237px
  height: 23px
  left: 125px
  top: 184px
  font-style: normal
  font-weight: 400
  font-size: 36px
  line-height: 44px
  color: #FFFFFF

.container1 .line
  position: absolute
  width: 387px
  height: 0
  left: 526px
  top: 160px
  border: 2px solid #FFFFFF

.info .content
  display: flex
  flex-direction: row-reverse
  justify-content: space-between
  width: 1440px
  height: 645px
  margin-left: 67px
  margin-right: 67px
  margin-top: 160px
