<!DOCTYPE html>
<html lang="UK">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>КПІ ім.Ігоря Сікорського</title>
</head>

<body>
<div class="Phone">
  <app-base-header></app-base-header>
  <div class="container1">
    <div class="text1">Київський Політехнічний Інститут Імені Ігоря Сікорського</div>
    <div class="line"></div>
    <div class="text2">"Діяльність особистості залишається іскрою, що рухає людство вперед"</div>
  </div>
</div>
<div class="info">
  <div class="content">
    <p class="Nac">
      Національний технічний університет України «Київський політехнічний інститут імені Ігоря Сікорського» – найбільший український університет і один з найбільших технічних університетів Європи. Університет працює і розвивається з 1898 року як кампус, в якому на одній території в 160 гектарів органічно об'єднані умови для навчання, відпочинку...
      <br>
      <br>
      <a href="" class="Pos">Детальніше</a>
    </p>
    <img class="two" src="../../../assets/img/main-page-img/img2.png" alt="2">
  </div>
</div>
<div class="note">
  <p class="meta"> Мета сайту </p>
  <p class="meta1"> Мета нового сайту полягає в створенні зручного та ефективного інформаційного ресурсу про Київський політехнічний інститут (КПІ), який вирішує проблеми, що існують на поточному сайті. Наша мета включає наступні пункти:</p>
  <p class="meta2">
    <br>1. Забезпечити користувачам легкий та швидкий доступ до всієї необхідної інформації про КПІ без зайвого переключення між різними ресурсами.
    <br>2. Об'єднати всі існуючі ресурси КПІ на одному сайті, включаючи актуальну інформацію про навчання, факультети, події, наукові досягнення та інші важливі дані.
    <br>3. Забезпечити актуальність та цілісність інформації, уникнути дублювання даних і фрагментованості.
    <br>4. Запровадити потужний пошуковий інструмент, що дозволить користувачам швидко знаходити потрібну інформацію, зменшуючи час, необхідний для пошуку.
    <br>5. Покращити організацію і структуру сайту, щоб забезпечити легке навігування та доступ до різних розділів та послуг.
    <br>6. Зробити більш сучасний дизайн, щоб користування сайтом було приємнішим.
  </p>
</div>
<footer>
<div class="cont"></div>
</footer>
</body>

</html>
