html
  line-height: 1.15
  -webkit-text-size-adjust: 100%

body
  margin: 0

main
  display: block

.b1
  background-color: #816644
  background-image: url(../../../assets/img/main-page-img/img1.jpg)
  background-repeat: no-repeat
  background-position: center
  background-size: cover

.b1_inner
  margin: 0
  padding-top: 401px
  padding-bottom: 459px
  text-align: center

.b1_title
  display: block
  margin-bottom: 20px
  font-family: "Montserrat", serif
  font-size: 58px
  line-height: normal
  font-weight: 500
  color: #ffffff

b
  font-weight: bolder

.b1_text
  font-size: 36px
  color: #ffffff
  font-family: "Montserrat", serif

.line
  width: 387px
  border: 1px solid #FFFFFF
  margin: 0 auto

.b2
  background-color: #816644
  background-repeat: no-repeat
  background-position: center
  background-size: cover

.b2_inner
  margin: 0
  text-align: center
  height: 665px
  padding-top: 93px
  overflow: hidden

.b2_img
  width: 623px
  height: 460px
  border-radius: 15px
  margin-left: 67px
  margin-right: 70px
  float: left
  &:hover
      transform: scale(1.2)
      transition: transform 0.3s

.b2_img:hover
    transform: scale(1.2)
    transition: transform 0.3s

.b2_text
  font-size: 34px
  text-indent: 1.5em
  color: #ffffff
  margin-right: 68px
  text-align: justify
  margin-bottom: 81px
  font-family: "Montserrat", serif

.b2_button
  color: #FFFFFF
  font-size: 30px
  border-bottom: 1px solid #FFFFFF
  text-decoration: none
  margin-right: 68px
  font-family: "Montserrat", serif

.b2_button:hover
    color: black
    border-bottom-color: black

.b3
  background-color: #3B352D
  background-image: url(../../../assets/img/main-page-img/img3.jpg)
  background-repeat: no-repeat
  background-position: center
  background-size: 100% 100%

.b3_inner
  margin: 0
  text-align: center
  height: 934px
  padding-top: 81px

.b3_title
  display: block
  margin-bottom: 17px
  font-family: "Montserrat", serif
  font-size: 36px
  line-height: normal
  font-weight: 500
  color: #000000

.b3_text
  font-size: 33px
  color: #000000
  text-indent: 1.5em
  text-align: justify
  margin-left: 224px
  margin-right: 122px
  font-family: "Montserrat", serif

ol
  font-size: 33px
  color: #000000
  text-align: justify
  margin-left: 224px
  margin-right: 122px
  font-family: "Montserrat", serif
