<!DOCTYPE html>
<html lang="UK">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>КПІ ім.Ігоря Сікорського</title>
</head>

<body>
<div class="Phone">
    <app-base-header></app-base-header>
  <div class="container1">
    <div class="text1">Київський Політехнічний Інститут Імені Ігоря Сікорського</div>
    <div class="text2">"Діяльність особистості залишається іскрою, що рухає людство вперед"</div>
    <div class="line"></div>
  </div>
</div>

<div class="info">
  <img src="../../../assets/img/main-page-img/img2.png" alt="2" style="width: 623px; height: 460px; margin-top: 93px; margin-left: 67px; margin-bottom: 93px; border-radius: 15px;">
</div>

<div class="note"></div>
<div class="cont"></div>
</body>

</html>
