<footer class="footer">
    <div class="footer_base" *ngIf="isDisplayed">
      <div fxFlex="60">
          <img class="footer_icon1" src="../../../assets/img/main-page-img/phone.png" alt="KPI">
          <a class="footer_text" href="tel:+380442049494">+38 (044) 204 9494</a>
          <p class="footer_text"> <img class="footer_icon1" src="../../../assets/img/main-page-img/location.png" alt="KPI">
            Проспект Перемоги, 37, Київ, 03056
          </p>
      </div>
      <div class="footer_social_links" fxFlex="40">
          <a *ngFor="let link of socialLinks" [href]="link.href" target="_blank"><img class="footer_icon2" [src]="link.imageSrc" alt="KPI"></a>
      </div>
    </div>
    <div class="copyright"><p class="copyright_text">Copyright © 2023</p></div>
    <div class="card flex flex-column align-items-center">
        <i class="pi pi-angle-down fadeout animation-duration-1000 animation-iteration-infinite"></i>
        <p-scrollTop></p-scrollTop>
    </div>
</footer>
