<!DOCTYPE html>
<html>

<body>
    <div class="container">
        <div class="block2">
            <p class="title">Зв'яжіться з нами</p>
            <div class="line"></div>
          <div class="call">
              <img src="../../../assets/img/contacts-page-img/icons_tel.jpg" alt="tel">
              <p class="call_text">Телефон</p>
              <a class="phone_number" href="tel:+380442049494">+38 (044) 204 9494</a>
          </div>
          <div class="location">
              <img src="../../../assets/img/contacts-page-img/icons_location.jpg" alt="location">
              <p class="location_text">Адреса</p>
              <p class="location_info">Проспект Перемоги, 37, Київ, 03056</p>
          </div>
          <div class="clock">
              <img src="../../../assets/img/contacts-page-img/icons_clock.jpg" alt="clock">
              <p class="clock_text">Робочі години</p>
              <p class="clock_info">Пн-Пт: 09:00 - 18:00<br>Сб-Нд: Зачинено</p>
          </div>
          <div class="email">
              <img src="../../../assets/img/contacts-page-img/icons_email.jpg" alt="email">
              <p class="email_text">Електронна пошта</p>
              <a class="email_info" href="mailto:">MailKPI.UA</a>
          </div>
        </div>
        <div class="block1">
            <div class="signup-container">
            <div class="input-form">
                <form [formGroup]="feedbackForm" (ngSubmit)="onSubmit()">
                    <div class="form_group">
                        <label for="name">Ім'я/Нікнейм</label>
                        <input type="text" id="name" class="input-text" formControlName="name" required>
                    </div>
                    <div class="form_group">
                        <label for="email">Електронна пошта</label>
                        <input type="email" id="email" class="input-text" formControlName="email" required>
                    </div>
                    <div class="form_group">
                        <label for="message">Повідомлення</label>
                        <textarea id="message" class="input-text-1" formControlName="message" rows="4" required></textarea>
                    </div>
                    <button type="submit" class="feedback_form-button">Відправити</button>
                </form>
            </div>
        </div>
        </div>
    </div>
</body>
</html>
