<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>KPIHub</title>
</head>

<body>

<main>

  <section class="b1">
    <div class="b1_inner">
      <b class="b1_title">
      </b>
      <div class="line"></div>
      <p class="b1_text">

      </p>
    </div>
  </section>

  <section class="b2">
    <div class="b2_inner">


      <section class="services" id="services">
        <h1 class="heading"></h1>

        <div class="box-container">
            <div class="box button-1" (click)="expandBox(1)">
               <img src="../../../assets/img/entrant-page-img/icon1.png" style="float: left" alt="">
                <h3></h3>
            </div>

          <div class="box button-2" (click)="expandBox(2)">
            <img src="../../../assets/img/entrant-page-img/icon2.png" style="float: left" alt="">
            <h3></h3>
          </div>

          <div class="box button-3" (click)="expandBox(3)">
            <img src="../../../assets/img/entrant-page-img/icon3.png" style="float: left">
            <h3></h3>
          </div>

          <div class="box button-4" (click)="expandBox(4)">
            <img src="../../../assets/img/entrant-page-img/icon4.png" style="float: left" alt="">
            <h3></h3>
          </div>

          <div class="box button-5" (click)="expandBox(5)">
            <img src="../../../assets/img/entrant-page-img/icon5.png" style="float: left" alt="">
            <h3></h3>
          </div>

          <div class="box button-6" (click)="expandBox(6)">
            <img src="../../../assets/img/entrant-page-img/icon6.png" style="float: left" alt="">
            <h3></h3>
          </div>

          <div class="box button-7" (click)="expandBox(7)">
            <img src="../../../assets/img/entrant-page-img/icon7.png" style="float: left"  alt="">
            <h3></h3>
          </div>

          <div class="box button-8" (click)="expandBox(8)">
            <img src="../../../assets/img/entrant-page-img/icon8.png" style="float: left" alt="">
            <h3></h3>
          </div>

        </div>
    </section>

    </div>
  </section>
    <div class="popup-container" id="popupContainer">
        <div class="popup" id="popupWindow" *ngIf="activeBoxId !== null">
            <button id="closeButton" class="close-button" (click)="activeBoxId = null">Закрити</button>
            <div *ngIf="activeBoxId === 1">
                <!-- Content for box 1 -->
            </div>
            <div *ngIf="activeBoxId === 2">
                <!-- Content for box 2 -->
            </div>
            <!-- Add similar blocks for other box IDs -->
        </div>
    </div>

</main>

</body>

</html>
