body
    margin: 0

.p-menubar
    padding: 0.5rem
    background: rgba(129, 102, 68, 0.94)
    margin-top: 20px
    margin-left: 20px
    height: 50px
    width: 50px
    position: fixed
    top: 0
    left: 10px
    z-index: 1000
    border: 0.2px solid black

.p-menubar.expanded
    width: 300px

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-content .p-menuitem-link
    background: rgba(129, 102, 68, 0.94)
    font-family: "Garamond", serif
    display: flex
    align-items: center
    justify-content: center
    padding: 17px
    width: 260px
    border: 0.2px solid black

.p-menuitem-text
    font-family: "Garamond", serif
    color: #FFFFFF
    font-size: 16px
    justify-content: center

.p-menubar-button
    color: #000000
    background: none
    cursor: pointer

.p-menubar .p-menubar-root-list
    background: transparent

.p-paginator
    background: transparent
    border: none

.p-dropdown
    border: none
    background: #886F4F

button.p-ripple.p-element.p-paginator-page.p-paginator-element.p-link.p-highlight.ng-star-inserted
    background: rgba(136, 111, 79, 0.5)
    color: white

.p-dropdown-items-wrapper
    background: black
    border: none

.p-dropdown-panel.p-component.ng-star-inserted
    border: none

.p-scrolltop.p-link
    background: rgba(129, 102, 68, 0.94)

.p-scrolltop.p-link:hover
    background: #785035

.p-scrolltop .p-scrolltop-icon
    font-size: 1.5rem
    color: rgba(210, 193, 153, 1)

.p-multiselect
    width: 350px
    height: 58px
    padding: 0 6px 0 0
    border-radius: 11px
    background: black
    border: none

.p-component
    font-family: "Montserrat", serif
    font-size: 20px

.p-multiselect .p-multiselect-label.p-placeholder
    color: white
    width: 100%
    margin-top: 10px

.p-multiselect-panel
    background-color: rgba(0, 0, 0, 0.6)
    border: none

.p-multiselect-panel .p-multiselect-header
    background: black

.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight
    color: white
    background: black

.p-checkbox .p-checkbox-box.p-highlight
    border-color: #886F4F
    background: #886F4F

.p-multiselect-panel .p-multiselect-items .p-multiselect-item:focus
    box-shadow: inset 0 0 0 0.15rem #886F4F

.p-checkbox .p-checkbox-box
    border-color: #886F4F
    background: black

.p-inputtext
    border-color: #886F4F

.p-multiselect-panel .p-multiselect-items .p-multiselect-item
    height: 90px

.p-multiselect-items-wrapper
    max-height: 300px !important
    max-width: 350px !important

.p-multiselect-panel .p-multiselect-items .p-multiselect-item-group
    background: #886F4F
    color: white

.p-multiselect.p-multiselect-chip .p-multiselect-token
    color: white
    background: rgba(136, 111, 79, 0.5)

.p-multiselect-item
    white-space: normal
    text-align: left

::-webkit-scrollbar
    width: 10px
    height: 1px

::-webkit-scrollbar-track
    background: #886F4F
    border-radius: 25px

::-webkit-scrollbar-thumb
    background: white
    border-radius: 25px

::-webkit-scrollbar-thumb:hover
    background: rgba(187, 185, 185, 0.9)
