body
  margin: 0

.p-paginator
  background: transparent
  border: none

.p-dropdown
  border: none
  background: #886F4F

button.p-ripple.p-element.p-paginator-page.p-paginator-element.p-link.p-highlight.ng-star-inserted
  background: rgba(136, 111, 79, 0.5)
  color: white

.p-dropdown-items-wrapper
  background: black
  border: none

.p-dropdown-panel.p-component.ng-star-inserted
  border: none