body
  margin: 0

.p-scrolltop.p-link
      background: rgba(129, 102, 68, 0.94)

.p-scrolltop.p-link:hover
    background: #785035

.p-scrolltop .p-scrolltop-icon
    font-size: 1.5rem
    color: rgba(210, 193, 153, 1)
