.toolbar
    display: flex
    flex-direction: row
    width: 100%
    padding: 5px

.logo
    height: 145px
    margin-top: 27px
    margin-left: 122px
    border: 1px
    transition: transform 0.3s
.logo:hover
    transform: scale(1.2)
.img-logo
    width: 410px
    height: 99px

.toolbar-text
    font-family: "Garamond"
    font-weight: 400
    font-size: 25px
    color: #fff
    line-height: 26.64px
    text-align: center
    margin: 0
    padding: 0

////////////////////////
/* Add a new CSS class for navigation links */
#nav-button
    background-color: transparent
    cursor: pointer
    border: 0
    margin-right: 20px
    color: #fff /* Default text color */
    text-decoration: none /* Remove default underline */
    transition: color 0.3s



#nav-button.active
    text-decoration: underline /* Add underline for the active link */
    text-underline-offset: 8px

#nav-button:focus
    outline: none /* Remove the default focus outline */
    text-decoration: underline /* Add underline when the button is clicked */
    text-underline-offset: 8px

#nav-button:hover
    color: #886F4F /* Change text color on hover to red (you can use your preferred color) */


#nav-button a:focus p.toolbar-text
    text-decoration: underline /* Add underline when the link is focused (clicked) */

#nav-button:focus p.toolbar-text,
#nav-button:hover p.toolbar-text
    text-decoration: none

#nav-button.active p.toolbar-text
    text-decoration: underline /* Add underline for the active link */
    text-underline-offset: 8px

#nav-button:hover a:focus p.toolbar-text
    text-decoration: underline /* Keep the underline when hovering over the focused link */

#nav-button a:focus p.toolbar-text::before
    text-decoration: none


#nav-button:hover p.toolbar-text
    color: #886F4F /* Change text color on hover to ) */

.active p.toolbar-text
    text-decoration: underline
    text-underline-offset: 8px


.nav-button:hover p.toolbar-text
    color: #886F4F /* Change text color on hover */


//////////////////////////////
@media (max-width: 1024px)
    .toolbar-text
        font-size: 160%

@media (max-width: 768px)
    .toolbar-text
        font-size: 120%

@media (max-width: 425px)
    .toolbar-text
        font-size: 70%

.navigation
    width: 651px
    height: 90px
    margin-top: 63px
    margin-left: 132px

@media (max-width: 1440px)
    .navigation
        margin-left: 30%

@media (max-width: 1024px)
    .navigation
        margin-left: 20%

@media (max-width: 768px)
    .navigation
        margin-left: 10%

@media (max-width: 425px)
    .navigation
        margin-left: 0%
        margin: 5px
        padding: 5px

.nav-1
    display: inline-block

.nav-2
    display: inline-block
    margin-top: 36px

#nav-button
    background-color: transparent
    cursor: pointer
    border: 0
    margin-right: 20px

link
    &:hover
        cursor: pointer
