<!--Toolbar-->
<header>
    <div class="toolbar" role="banner">
        <div class="logo">
            <img class="img-logo" src="../../../assets/img/KPIHub-logo.png" alt="logo" width="410px" height="99px">
            <hr style="margin-bottom: 0;">
            <p class="toolbar-text">КПІ ім. Ігоря Сікорського</p>
        </div>
        <div class="navigation">
            <div class="nav-1">
                <button class="main" id="nav-button"><p class="toolbar-text" style="text-decoration: underline; text-underline-position: under;">Головна</p></button>
                <button class="entrant" id="nav-button"><p class="toolbar-text">Вступнику</p></button>
                <button class="student" id="nav-button"><p class="toolbar-text">Студенту</p></button>
                <button class="gallery" id="nav-button"><p class="toolbar-text">Галерея</p></button>
            </div>
            <br>
            <div class="nav-2">
                <button class="faculty" id="nav-button"><p class="toolbar-text">Інститути & Факультети</p></button>
                <button class="contact" id="nav-button"><p class="toolbar-text">Контакти</p></button>
                <button class="map" id="nav-button"><p class="toolbar-text">Мапа</p></button>
            </div>
        </div>
    </div>
</header>
