.footer
  background-color: #000000
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  font-family: "Montserrat"

.footer_inner
  width: 100%
  display: flex
  justify-content: space-between
  height: 250px
  padding-top: 49px

.footer_left
  width: 60%

.footer_right
  width: 40%
  padding-top: 60px
  text-align: center

.footer_text1
  color: #ffffff
  font-size: 33px
  margin-bottom: 45px

.footer_text2
  color: #ffffff
  font-size: 33px

.footer_icon1
  width: 50px
  height: 50px
  margin-left: 122px
  margin-right: 64px
  float: left

.footer_icon2
  width: 50px
  height: 50px
  margin-left: 122px
  margin-right: 64px
  float: left

.footer_icon3
  width: 50px
  height: 50px
  margin-left: 80px

.footer_icon4
  width: 50px
  height: 50px
  margin-left: 70px

.footer_copy
  padding: 15px
  background-color: #1a1a1a

.footer_copy-text
  font-size: 20px
  line-height: 24px
  color: #615555
  text-align: center