html
  line-height: 1
  -webkit-text-size-adjust: 100%

  body
    margin: 0
    background-image: url(../../../assets/img/contacts-page-img/5.jpg)
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    min-height: 100vh
    display: flex
    justify-content: center
    align-items: center

  .container
    display: flex
    overflow-y: auto
    max-width: 1440px

  .left
    flex: 1
    background: rgba(0, 0, 0, 0.43)
    border-radius: 10px
    width: 560px
    height: 730px
    margin-top: 250px
    margin-left: 80px
    margin-bottom: 60px
    flex-direction: column
    justify-content: flex-start
    align-items: center
    position: relative

  .right
    flex: 1
    background: rgba(0, 0, 0, 0.43)
    border-radius: 10px
    width: 480px
    height: 513px
    margin-top: 380px
    margin-left: 100px
    margin-right: 80px
    flex-direction: column
    justify-content: flex-start
    align-items: center
    position: relative

  .left_title, .email-text
    font-family: "Montserrat"
    font-size: 36px
    font-weight: 400
    color: #ffffff
    text-align: center
    position: relative
    margin-top: 20px
    padding: 0 20px
    max-width: 100%

  .left_title::after
    content: ""
    display: block
    height: 1px
    width: 90%
    background: #886F4F
    border: 1px solid #886F4F
    margin: 10px auto 0

  .contact-info, .location-info, .work_time, .email
    display: flex
    align-items: center

  .contact-info img, .location-info img, .work_time img, .email img
    width: 50px
    margin-right: 30px
    margin-left: 10px

  .call, .location, .work_time
    font-family: Cormorant SC
    font-size: 36px
    font-weight: 500
    color: #ffffff

  .phone-number, .loc, .time, .Email
    color: white
    font-size: 24px
    text-decoration: none
    margin: 0 0 0 20px

  .email
    margin-top: 20px

  .right form
    margin: 20px
    display: flex
    flex-direction: column
    align-items: center


  .right form .form-group
    margin: 10px

  .right form label
    font-family: "Montserrat"
    font-size: 24px
    font-weight: 400
    color: #ffffff

  .right form input, .right form textarea
    width: 100%
    padding: 10px
    font-size: 20px
    background: transparent
    border: none
    border-bottom: 1px solid #ffffff
    color: #ffffff
    margin-top: 5px

  .right form button
    padding: 10px 20px
    margin-top: 20px
    font-family: "Montserrat"
    font-size: 24px
    font-weight: 400
    background: #886F4F
    color: #ffffff
    border: none
    cursor: pointer
    border-radius: 30px

  .right form button:hover
      background: rgba(49, 19, 19, 0.66)
      transform: scale(1.1)
